<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>test list</h2>
<div>
    <ul>
        <li th:each="user:${users}">
            <span th:text="${user.id}"></span>
            <span th:text="${user.name}"></span>
            <span th:text="${user.age}"></span>
            <span th:text="${user.sex}"></span>
            <span th:text="${user.number}"></span>
            <span th:text="${user.proClass}"></span>
            <span th:text="${user.address}"></span>
        </li>
    </ul>
</div>
</body>
</html>