<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="../frame/layui/css/layui.css" media="all">
</head>
<body>
<a class="layui-btn layui-btn-normal" style="margin-top: 5px" onclick="edit()" href="../demo/edit.html">新增</a>
<table id="demo" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'typeId', width:80, sort:true, fixed: 'left'}">类别ID</th>
        <th lay-data="{field:'typeName', width:80}">类别名</th>
        <th lay-data="{field:'typeDes', width:150}">类型描述</th>
        <th lay-data="{field:'createTime', width:150, sort:true}">创建时间</th>
        <th lay-data="{field:'type', width:100}">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>001</td>
        <td>感冒药</td>
        <td>治疗感冒</td>
        <td>2019-04-15</td>
        <td>
            <a style="color: #5bc0de;">编辑</a>
            <a style="color: red">删除</a>
        </td>
    </tr>
    <tr>
        <td>002</td>
        <td>退烧药</td>
        <td>退烧</td>
        <td>2019-04-15</td>
        <td>
            <a style="color: #5bc0de;">编辑</a>
            <a style="color: red">删除</a>
        </td>
    </tr>
    <tr>
        <td>003</td>
        <td>泻药</td>
        <td>止泻</td>
        <td>2019-04-15</td>
        <td>
            <a style="color: #5bc0de;">编辑</a>
            <a style="color: red">删除</a>
        </td>
    </tr>
    <tr>
        <td>004</td>
        <td>抗生素</td>
        <td>消炎</td>
        <td>2019-04-15</td>
        <td>
            <a style="color: #5bc0de;">编辑</a>
            <a style="color: red">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<script src="../frame/layui/layui.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        // table.render({
        //     elem: '#demo'
        //     ,height: 312
        //     ,url: '/demo/table/user/' //数据接口
        //     ,page: true //开启分页
        //     ,cols: [[ //表头
        //         {field: 'typeId', title: '类别ID', width:80, sort: true, fixed: 'left'}
        //         ,{field: 'typeName', title: '类别名', width:80}
        //         ,{field: 'typeDes', title: '类型描述', width:120}
        //         ,{field: 'createTime', title: '创建时间', width:120, sort: true}
        //     ]]
        // });
        table.init('demo', {
            height: 300,
            limit: 10
        });
    });

    function edit() {
        $.ajax({
            url: '../demo/edit.html'
        });
    }
</script>
</body>
</html>